<p>Please click the <b>I'm not a robot</b> checkbox and answer any challenge
  prompt. </p>
<p>If you see a visual challenge with 9 small images and have trouble reading
  the objects there, click on the <%= recaptcha_icon('refresh_black') %> icon
  for a new visual challenge, or select an audio challenge by clicking the
  <%= recaptcha_icon('audio_black') %> icon.
</p>
<p>If you see an audio challenge and have trouble hearing the audio after
  clicking the <b>PLAY</b> button, click on the <%= recaptcha_icon('refresh_black') %>
  icon for a new audio challenge, or select a visual challenge by clicking the
  <%= recaptcha_icon('image_black') %> icon. You can also download the audio and
  listen to it by click on the <%= recaptcha_icon('download') %> icon.
</p>

<%= form_tag captcha_answer_path, :method => :post %>
  <div>
    <%= recaptcha_tags %>
  </div>
  <%= submit_tag 'Submit' %>
</form>
<%= link_to 'Help (ReCaptcha)', 'https://www.google.com/recaptcha/help', :target => '_blank' %>