<%= form_tag_wo_ajax feedback_path(:format=>:basic), :method=>:post %>
  <input type="hidden" value="basic" name="page_type" />
  <div><%=fd_text_field_m @fds['con_name'], nil, {}, 'fe', '_1' %></div>
  <div><%=fd_text_field_m @fds['con_email'], nil, {}, 'fe', '_1' %></div>
  <div><%=fd_text_field_m @fds['con_phone'], nil, {}, 'fe', '_1' %></div>
  <div><%=fd_text_field_m @fds['feedback_type'], nil, {}, 'fe', '_1' %></div>
  <div><%=fd_text_field_m @fds['issue_page_url'], nil, {:value=>@page_url},
    'fe', '_1' %></div>
  <div><%=fd_text_area @fds['most_liked'], nil, {}, 'fe', '_1' %></div>
  <div><%=fd_text_area_m @fds['least_liked'], nil, {}, 'fe', '_1' %></div>
  <div><%=fd_text_area_m @fds['contact_comment'], nil, {}, 'fe', '_1' %></div>
  <%= submit_tag 'Submit',{"data-inline"=>"true"} %>
  <%= link_to 'Cancel', phr_records_path, :class=>"ui-btn ui-btn-inline"%>
</form>
