<div id="flowsheet_settings" style="display: <%= @flowsheet ? 'none': 'block' %>">
<%= form_tag flowsheet_phr_record_phr_panels_path(@phr_record), :method=>'post', "id"=>"flowsheet_form", "data-transition"=>"none" ,"data-ajax"=>false%>
<%#= form_tag_wo_ajax flowsheet_phr_record_phr_panels_path(@phr_record), :method=>'post' %>
<% if @p.panel_list.size == 0 %>
The flowsheet displays tests &amp; measures data for a PHR.  You will need
to add some <%= link_to 'Tests & Measures', new_phr_record_phr_panel_path %>
before this page will be useful.
<% else %>
    <!-- new radio buttons-->
    <p>Please select the panels to show in the flowsheet by using the
      radio buttons below.</p>
    <% @p.panel_list.each do |panel_data| %>
       <label for="phr_panel_item"><input type="radio" name="phr[panel_item]" id="phr_panel_item" value=<%= panel_data.loinc_num %> ><%= panel_data.panel_name %></label>
    <% end %>

    <div><%= fd_prefetched_list_mb(@p.fds['group_by'], @p.data, @p.group_by_list,
             false) %></div>
    <div><%= fd_prefetched_list_mb(@p.fds['date_range'], @p.data, @p.date_range_list,
             false) %></div>
    <h3>Dates for a custom range</h3>
      You must specify "Customize" in the "<%=@p.fds['date_range'].display_name%>"
      field above to use these fields.<br />
      <%= fd_date_field_mb(@p.fds['start_date'], @p.data) %>
      <%= fd_date_field_mb(@p.fds['end_date'], @p.data) %>

       <%#= basic_text_field_m 'Page Number', 'phr', 'page_num', nil  %>
    <div><%= fd_checkbox_m(@p.fds['in_one_grid'], @p.data) %></div>
    <div><%= fd_checkbox_m(@p.fds['include_all'], @p.data) %></div>
    <div><%= basic_checkbox_m('Hide empty rows', 'hide_empty_rows',
             @p.data.hide_empty_rows=='1') %></div>
    <%= submit_tag_m @p.fds['show_record_too'].display_name %>
<% end %></form></div>

<% if @flowsheet %>
    <%= stylesheet_link_tag "mobile_css/flowsheet.css" %>
    <%= stylesheet_link_tag "mobile_css/defaultTheme.css" %>
    <div id="flowsheet"  data-role="none">
       <%= @flowsheet.html_safe%>
    </div>
    <div id="orientation_hints" data-role="none">
      Please Turn Your Device to Landscape
    </div>
    <script>
        Def={};
        Def.ajaxReqParams = <%= @ajax_req_params.html_safe %>;
        $(document).ready(function () {
            setTimeout(mobilizeTable, 50);
        });
    </script>
    <%= javascript_include_tag "jqueryPlugins/jq_connect_2/jquery.connect.js" %>
    <%= javascript_include_tag "mobile_js/jquery.fixedheadertable.js" %>
    <%= javascript_include_tag "manifest_jquery_sparkline.js" %>
    <%= javascript_include_tag "mobile_js/flowsheet.js" %>
<% end %>

