<%= stylesheet_link_tag "manifest_form_layout_common"%>

<!-- <div id="formContent" class="<%=@banner_class%>"> -->

    <div id="form_hdr_phr" class="<%=@banner_class%>">
      <div id="hdr_banner">
        <div id="hdr_banner_text">
          <%= BANNER_ALT_TEXT.html_safe %>
        </div>
        <div id="hdr_banner_img" class=<%=DEMO_SYSTEM ? "demo" : ""%>></div>
        <%# banner specified as background image in style.css %>
        <%# prevents horizontal bar from appearing just for the banner. %>
      </div>
      <br/>
    </div>

<div class="notice_box">
  <h1>Invitation Previously <%= @action.capitalize %> </h1>
<p>This invitation was already <%= @action %>, on <%= @response_date %>.</p>
   
<p>If you would like to sign in to the PHR system, click <a href="https://<%= @host %>">here</a>.</p>

<p>If you believe there's been an error, please <a href="javascript:void()"
      onclick="openPopup(this, '/feedback/new', 'Contact Us', 'width=900px,height=900px', 'feedback', true); return false;">contact us</a>.
</p>


 </div>