   <p>Hello <%= @issuer_name %>,</p>
   <p>Just to let you know, <%=  @target_name %>, at email address
      <%= @target_email %>, has declined your invitation to view
      <%= @prof_name_possessive %> PHR.</p>
   <p>If you think this was done in error, you can issue a new invitation to
      <%= @target_name %> at <%= @target_email %>.
   <p><%= @from_lines %></p>
