   <p>Hello <%= @issuer_name %>,</p>
   <p>Just to let you know, <%=  @target_name %>, at email address
      <%= @target_email %>, has accepted your invitation to view
      <%= @prof_name_possessive %> PHR.  <%= @target_name %>
      will be able to view the PHR but not change any of the content.</p>
   <p>If you wish to cancel this access click on the "See Others with Access"
      button for <%= @prof_name_possessive %> PHR on the PHR Home page.</p>
   <p><%= @from_lines %></p>
