<div ><%=fd_labeled_text_value @fds['name_and_route'], @phr_drug %>
  <% if @phr_drug.new_record? %>
      <%= phr_hidden_field @phr_drug, 'name_and_route' %>
      <% if !@phr_drug.name_and_route_C.blank? %>
          <%= phr_hidden_field @phr_drug, 'name_and_route_C' %>
      <% end %>
  <% end %>
</div>
<%=fd_prefetched_list_mb(@fds['drug_use_status'], @phr_drug, @statuses, false)%>
<%=fd_prefetched_list_mb(@fds['drug_strength_form'], @phr_drug, @strengths)%>
<%=fd_text_field_mb @fds['instructions'], @phr_drug %>
<%=fd_date_field_mb @fds['drug_start'], @phr_drug %>
<%=fd_date_field_mb @fds['stopped_date'], @phr_drug %>
<%=fd_prefetched_list_mb @fds['why_stopped'], @phr_drug, @reasons %>
<%=fd_date_field_mb @fds['expire_date'], @phr_drug %>
<br>
<%= submit_tag_m 'Save' %>
<%= link_to_m 'Cancel', phr_record_phr_drugs_path %>
