<% s_table_name = @table.singularize %>

<%= link_to 'New', send('new_phr_record_'+s_table_name+'_path', @phr_record) %>
&nbsp;
<%= link_to 'Back to PHR', phr_record_path(@phr_record)%>
&nbsp;
<%= render('extra_table_nav_links') if lookup_context.template_exists?(
  'extra_table_nav_links', @table, true)%>
<%= help_button get_help_url(@section_fd) %>

<% if @records.length > 0 %>
<% has_info_link = @records[0].respond_to?('info_link') %>
<table border="1">
  <tr>
    <% @db_fields.each_with_index do |col, i| %>
      <th><%=@labels[col]%></th>
      <% if i == @main_field_index %>
        <th>Delete?</th>
      <% end %>
    <% end %>
    <% if has_info_link %>
      <th>Info Page</th>
    <% end %>
  </tr>
  <% edit_path_method = 'edit_phr_record_'+s_table_name+'_path';
     delete_path_method = 'phr_record_'+s_table_name+'_path'%>
  <% @records.each do |d| %>
    <tr>
      <% @db_fields.each_with_index do |col, i| %>
        <% if i == @main_field_index %>
          <th><a href="<%= send(edit_path_method, @phr_record, d)%>"
              ><%=d.send(col)%></a></th>
          <td><%= button_to_wo_js 'Delete', send(delete_path_method, @phr_record, d),
           :confirm => 'Are you sure?', :method => :delete %></td>
        <% else %>
          <td><%=d.send(col)%></td>
        <% end %>
      <% end %>
      <% if has_info_link %>
        <td>
        <% link_data = d.info_link %>
        <% if link_data %>
          <% if link_data.class == String %>
            <%= link_to 'Info', d.info_link, :target=>'_blank' %>
          <% else # assume a hash %>
            <% link_data.each do |url_data| %>
              <%= link_to url_data[1], url_data[0], :target=>'_blank' %>
            <% end %>
          <% end %>
        <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<% end %>