        <!-- A Print Button -->
        
        <div class="expcolall" id="<%=button_id%>">
        <span align="right" onclick="<%=onClickAction[0]%>"
              class="expcol_button" > 
          <span>Show All</span>
          <%= image_tag(asset_path('blank.gif'), :alt=>altText[0], :class=>img_class[0]) %>
        </span>
        <span align="right" onclick="<%=onClickAction[1]%>"
              class="expcol_button" >
          <span>Hide All</span>
          <%= image_tag(asset_path('blank.gif'), :alt=>altText[1], :class=>img_class[1]) %>
        </span>
        </div>
        
        <!-- leave formatting in so that html file is readable -->
        <!-- -->
