<% # Template for a single removed profile listing on the phr_home page %>

    <% tr_id = "removed_profile_line_" + row_s %>
    <tr id="<%= tr_id %>" class="removed_profile_row">

      <% td_id = "rem_icon_cell_" + row_s %>
      <td id="<%= td_id%>" class="icon_column">
        <%= profile_icon(profile, row_s, true)  %>
      </td>

      <% td_id = "rem_name_cell_" + row_s %>
      <td id="<%= td_id %>" class="name_column">
        <%= name_age_gender(profile, row_s, true) %>
      </td>

      <% td_id = "restore_cell_" + row_s %>
      <td id="<%= td_id %>" class="link_button_column">
        <%= restore_link(profile.id_shown, row_s) %>
      </td>

      <% td_id = "delete_cell_" + row_s %>
      <td id="<%= td_id %>" class="link_button_column">
        <%= delete_link(profile.id_shown, row_s) %>
      </td>
    </tr>
 


 



  