<%= form_tag account_sign_up_path, :method=>:post %>

<%= fd_fieldset(@p.fds['signup_policy']) do %>
  <%= fd_big_static_text(@p.fds['instructions2']) %>
  <%= fd_checkbox(@p.fds['agree_chbox'], @p.data, @p.form_obj, '_1') %>
<% end %>

<%= fd_fieldset(@p.fds['signup_account']) do %>
  <%= fd_text_field(@p.fds['user_name'], @p.data, {}, @p.form_obj, '_1') %>
  <%= fd_static_text(@p.fds['uid_instr']) %>
  <%= fd_password(@p.fds['password'], {}, @p.form_obj, '_1') %>
  <%= fd_static_text(@p.fds['passwd_instr']) %>
  <%= fd_password(@p.fds['confirm_password'], {}, @p.form_obj, '_1') %>
  <p />
  <%#= fd_static_text(@p.fds['experimental_instructions']) %>
  <%#= fd_prefetched_list(@p.fds['experimental'], @p.data, @p.acc_type_list, false,
    @p.form_obj, '_1_1') %>
<% end %>


<%= fd_fieldset(@p.fds['signup_quest']) do %>
  <% [1,2].each do |num| %>
  <p>
    <%= @p.fds['su_fix_quest'].display_name = "Provided question #{num}";
      fd_prefetched_list(@p.fds['su_fix_quest'], @p.data, @p.question_list, false,
      @p.form_obj, "_1_#{num}", false) %> &nbsp;
    <%= @p.fds['su_fixansw'].display_name = "Answer to provided question #{num}";
       fd_text_field(@p.fds['su_fixansw'], @p.data, {}, @p.form_obj, "_1_#{num}") %>
  </p>

  <% end %>
  <%# [1,2].each do |num| %>
  <% [1].each do |num| %>
  <p>
    <%= @p.fds['su_selfquest'].display_name = "Your question #{num}";
      fd_text_field(@p.fds['su_selfquest'], @p.data, {}, @p.form_obj, "_1_#{num}") %>
    &nbsp;
    <%= @p.fds['su_selfansw'].display_name = "Answer to your question #{num}";
       fd_text_field(@p.fds['su_selfansw'], @p.data, {}, @p.form_obj, "_1_#{num}") %>
  </p>
  <% end %>
<% end %>

<%= fd_fieldset(@p.fds['email_grp']) do %>
  <p class="instructions"><%= fd_static_text(@p.fds['email_instr1']) %></p>
  <div><%= fd_text_field(@p.fds['email'], @p.data, {}, @p.form_obj, '_1') %></div>
  <div><%= fd_text_field(@p.fds['sec_email'], @p.data, {}, @p.form_obj, '_1') %></div>
<% end %>

<%= submit_tag 'Save' %>
<%= link_to 'Cancel', login_path %>
</form>