  <div><%=fd_text_field @fds['medtact_name'], @data_rec %></div>
  <div><%=fd_prefetched_list @fds['medtact_type'], @data_rec, @categories %></div>
  <div><%=fd_text_field @fds['medtact_ph'], @data_rec %></div>
  <div><%=fd_text_field @fds['medtact_fax'], @data_rec %></div>
  <div><%=fd_text_field @fds['medtact_email'], @data_rec %></div>
  <div><%=fd_date_field @fds['next_appt'], @data_rec %></div>
  <div><%=fd_date_field @fds['next_appt_time'], @data_rec %></div>
  <div><%=fd_text_field @fds['medtact_comnt'], @data_rec %></div>
  <br>
  <%= submit_tag 'Save' %>
  <%= link_to 'Cancel', phr_record_phr_medical_contacts_path %>