<div><%=fd_date_field_mb @fds['date_entered'], @data_rec %></div>
<div><%=fd_prefetched_list_mb @fds['category'], @data_rec, @categories %></div>
<div><%=fd_prefetched_list_mb @fds['question_status'], @data_rec, @statuses, false %></div>
<div><%=fd_text_field_mb @fds['question'], @data_rec %></div>
<div><%=fd_text_field_mb @fds['question_answer'], @data_rec %></div>
<br>
<%= submit_tag_m 'Save' %>
<%= link_to_m 'Cancel', phr_record_phr_doctor_questions_path %>